<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A quick tour of Jim Stauffer's life.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>a long time ago</h4>
                                    <h4 class="subheading">Jim's Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In a land far away, Glendale, CA, 
                                      James was born at 8lbs 10oz to Jocqueline and Maurice Stauffer</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The 60's</h4>
                                    <h4 class="subheading">Lifeguarding</h4>
                                </div>

                                <div class="timeline-body">
                                    <p class="text-muted">Starting from an after school job, 
                                      lifeguarding on the beautiful beaches of southern Orange County became central to who Jim is. 
                                      So much in fact that he was able to create a career out of it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The 60's</h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated from San Diego State with a degree in accounting, 
                                      All while maintaining to save dousins of lives on the beaches working as a lifeguard on Orange County beaches.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The 60's</h4>
                                    <h4 class="subheading">Real Estate License</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After college, Jim earned his real estate license.
                                      Worked for a broker and mentored by his father who had his own real estate company.
                                      At age of 23 he owned his first house.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>The 70's</h4>
                                    <h4 class="subheading">Lifeguard for City of Laguna Beach</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a few year stint as working as an accountant during the recession 
                                    Jim decided to return to his passion as a lifeguard.
                                    Roaming the beat in his famous red trunks for 7 years climbing the ranks to captain.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1971</h4>
                                    <h4 class="subheading">First Sea Lion rescue</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Upon scouting Laguna Beach, he noticed several sea lions in distress on the beach. 
                                      Taking it upon himself, he built a pool in his backyard and nursed the sea lions back to health. 
                                      This renegade approach to stand up for wildlife has filtered down to his children who both have become biologists.
                                  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1978</h4>
                                    <h4 class="subheading">Life Guard International</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jim and best friend Dick Johnson decided to try their own luck at guarding the beaches of Laguna.
                                      Relying only on their instinct they entered into county politics and put a bid to protect the citizins.
                                      The duo won the bid and maintained the company with over 100 employees for 11 years.
                                      In the meanwhile, he had kept busy with realty.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1974</h4>
                                    <h4 class="subheading">Friends of Sea Lions</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After spending years helping marine mammals, Jim realized he needed to officially 
                                      Taking knowlegde he gained from the Army reserves vetinary division along with many many volunteers he recruited amongst the ranks of his Lifeguard company,
                                      coupled with his attitude of making things happen, in his backyard he nursed dousins of large marine mammels back to health.
                                      Legends has it that he used his 912 porche to transport sick dolphins to and from the beach.
                                      After a few years he was able to start the non-profit and has now become a Laguna Beach instituion rebranded as Pacific Marine Mammal Center.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989</h4>
                                    <h4 class="subheading">Birds of Paradise Reality Era</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learning from his dad, he decided the next chapter of his life was to work directly with people and helping them find homes.
                                      Jim passed his broker exam.
                                      Jim also offered sound advice to both buyers and sellers, and even on occasion had to give life advice.
                                      Birds of Paradise gave the Stauffer's great success and after 3 years, the family decided to move north to Petaluma to raise their kids.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1992</h4>
                                    <h4 class="subheading">Remax and James Stauffer Realty</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After moving to Petaluma, Jim began to work with Remax.
                                      After Remax, Jim again, being the entrepruer he is, started another realty company.
                                      He has now over 30 years of active real estate and broker experience.
                                      Specializing in residential, he has helped many in the North Bay find or sell homes.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
